* {
	font-family: 'Helvetica Neue', 'Raleway', Helvetica, sans-serif;
}
body {
	width: 90%;
	margin: 5vw auto;
	background-image: url("../images/pattern.png");
    background-repeat: repeat;
}
article {
	background-color: #FFF;
	border: rgba(0, 0, 0, .3) solid 1px;
	border-radius: 5px;
	/*box-shadow: inset 0px 0px 10px;*/
	padding: 20px;
	margin-bottom: 10px;
}
header {
	font-weight: 600;
	font-size: 1.4em;
	/*margin-bottom: 5px;*/
}
img, video {
	width: 100%;
	position: relative;
	display: inline;
}
p, a, span, li{
	font-weight: 300;
	font-size: 1.1em;
}
a {
	color: #333;
}