.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 59px 19px 341px 21px;
}

#u75
{
	z-index: 2;
	width: 920px;
	left: -1px;
}

#u133-4
{
	z-index: 4;
	width: 150px;
	min-height: 51px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 30px;
}

#u139-4
{
	z-index: 8;
	width: 150px;
	min-height: 51px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 210px;
}

#u81
{
	z-index: 3;
	width: 150px;
	height: 150px;
	margin-bottom: -25px;
	margin-right: -10000px;
	margin-top: -25px;
	left: 385px;
}

#u141-4
{
	z-index: 12;
	width: 150px;
	min-height: 51px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 560px;
}

#u143-4
{
	z-index: 16;
	width: 150px;
	min-height: 51px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 740px;
}

#u133-4:hover,#u139-4:hover,#u141-4:hover,#u143-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	margin: 25px -10000px 0px 0px;
}

body
{
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

