#u133-4
{
	font-family: montserrat-n4, sans-serif;
}

#u139-4
{
	font-family: montserrat-n4, sans-serif;
}

#u141-4
{
	font-family: montserrat-n4, sans-serif;
}

#u143-4
{
	font-family: montserrat-n4, sans-serif;
}

#u394-4,#u394-6,#u394-8
{
	font-family: raleway-n3, sans-serif;
}

#u394-2,#u394-9
{
	font-family: raleway-n8, sans-serif;
}

