#u133-4
{
	font-family: montserrat-n4, sans-serif;
}

#u139-4
{
	font-family: montserrat-n4, sans-serif;
}

#u141-4
{
	font-family: montserrat-n4, sans-serif;
}

#u143-4
{
	font-family: montserrat-n4, sans-serif;
}

#u1319-3,#u1319-4,#u1319-7,#u1319-8,#u1319-11,#u1319-12,#u1319-15,#u1319-16
{
	font-family: raleway-n3, sans-serif;
}

#u1319-20,#u931-4
{
	font-family: raleway-n7, sans-serif;
}

#u932-4
{
	font-family: raleway-n7, sans-serif;
}

#u944-4
{
	font-family: raleway-n7, sans-serif;
}

#u1318-4
{
	font-family: raleway-n7, sans-serif;
}

