.html
{
	background: #FFFFFF url("../images/sativa.png") repeat center center;
}

#page
{
	z-index: 1;
	width: 860px;
	min-height: 371px;
	margin-left: auto;
	margin-right: auto;
	padding: 67px 50px 62px;
}

#u2349
{
	z-index: 2;
	width: 860px;
	min-height: 577px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

body
{
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

