#u75
{
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u133-4
{
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-size: 21px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u133-2
{
	padding-top: 15px;
}

#u139-4
{
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-size: 21px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u139-2
{
	padding-top: 15px;
}

#u81
{
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #FFFFFF url("../images/profile%20pic-u81-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/profile%20pic907x600.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover !important;
}

#u141-4
{
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-size: 21px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u141-2
{
	padding-top: 15px;
}

#u143-4
{
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-size: 21px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u133-4:hover p,#u139-4:hover p,#u141-4:hover p,#u143-4:hover p
{
	color: #A40626;
	visibility: inherit;
}

#u143-2
{
	padding-top: 15px;
}

