@font-face {
    font-family: Didot;
    src: url(font/Didot.otf);
    font-weight: 900;
}
@font-face {
    font-family: Baskerville;
    src: url(font/Baskerville.otf);
    font-weight: 100;
}
* {
	font-family: Didot, Baskerville, serif;
}
body {
	background: url(bg.png) repeat;
}
h1 {
	font-family: Didot;
	font-weight: bold;

	margin: 0;
}
p {
	font-family: Baskerville;
	font-weight: normal;
}
td, a, span{
	font-family: Baskerville;
	font-weight: normal;
	font-size: 10pt;
}
p {
	margin-top: 0;
}
table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
th {
	font-family: Didot;
	font-weight: bold;
	font-size: 12pt;
}
td, th {
	padding: 5px;
}
thead th {
	background: 0;
	border-bottom: black solid thin;
}
tbody td {
	font-weight:400;
}
