#menuu243
{
	position: fixed;
}

#u247
{
	background-color: transparent;
	position: relative;
}

#u247:hover
{
	border-color: #000000;
}

#u249-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u247:hover #u249-4 p
{
	color: #C0E1FF;
	visibility: inherit;
}

#u285
{
	background-color: transparent;
	position: relative;
}

#u286-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u285:hover #u286-4 p
{
	color: #C0E1FF;
	visibility: inherit;
}

#u271
{
	background-color: transparent;
	position: relative;
}

#u274-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u271:hover #u274-4 p
{
	color: #C0E1FF;
	visibility: inherit;
}

#u278
{
	background-color: transparent;
	position: relative;
}

#u280-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u278:hover #u280-4 p
{
	color: #C0E1FF;
	visibility: inherit;
}

#u244,#u284,#u270,#u277,#u251
{
	position: relative;
}

#u252
{
	background-color: transparent;
	position: relative;
}

#u247.MuseMenuActive,#u285.MuseMenuActive,#u271.MuseMenuActive,#u278.MuseMenuActive,#u252.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
}

#u253-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u252:hover #u253-4 p
{
	color: #C0E1FF;
	visibility: inherit;
}

#u247.MuseMenuActive #u249-4 p,#u285.MuseMenuActive #u286-4 p,#u271.MuseMenuActive #u274-4 p,#u278.MuseMenuActive #u280-4 p,#u252.MuseMenuActive #u253-4 p
{
	color: #6EBBFF;
	visibility: inherit;
	text-decoration: none;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

