.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 450px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 150px 50px 200px;
}

#u342
{
	z-index: 154;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 95px;
	position: relative;
}

#u341-7
{
	z-index: 77;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u340-4
{
	z-index: 33;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#menuu243
{
	z-index: 2;
	width: 200px;
	top: 100px;
	left: 50%;
	margin-left: -400px;
}

#u244
{
	width: 200px;
}

#u247
{
	width: 200px;
	min-height: 17px;
	padding-bottom: 41px;
	margin-right: -10000px;
}

#u247:hover
{
	margin: 0px -10000px 0px 0px;
}

#u249-4
{
	width: 200px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u247:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u285
{
	width: 200px;
	min-height: 17px;
	padding-bottom: 41px;
	margin-right: -10000px;
}

#u286-4
{
	width: 200px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u247.MuseMenuActive #u249-4,#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u271
{
	width: 200px;
	min-height: 17px;
	padding-bottom: 41px;
	margin-right: -10000px;
}

#u274-4
{
	width: 200px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u285.MuseMenuActive #u286-4,#u271:hover #u274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	width: 200px;
	min-height: 17px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u280-4
{
	width: 200px;
	min-height: 17px;
	margin-right: -10000px;
	top: 21px;
}

#u271.MuseMenuActive #u274-4,#u278:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u284,#u270,#u277,#u251
{
	width: 200px;
	margin-top: 2px;
}

#u252
{
	width: 200px;
	min-height: 17px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u247.MuseMenuActive,#u285.MuseMenuActive,#u271.MuseMenuActive,#u278.MuseMenuActive,#u252.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u253-4
{
	width: 200px;
	min-height: 17px;
	margin-right: -10000px;
	top: 21px;
}

#u278.MuseMenuActive #u280-4,#u252:hover #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u252.MuseMenuActive #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u347
{
	z-index: 155;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u346-7
{
	z-index: 84;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u348-4
{
	z-index: 37;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u353
{
	z-index: 156;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u352-7
{
	z-index: 91;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u354-4
{
	z-index: 41;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u359
{
	z-index: 157;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u358-7
{
	z-index: 98;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u360-4
{
	z-index: 45;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u365
{
	z-index: 158;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u364-7
{
	z-index: 105;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u366-4
{
	z-index: 49;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#ppemily
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u397
{
	z-index: 163;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u398-7
{
	z-index: 140;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u396-4
{
	z-index: 69;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u372
{
	z-index: 159;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u371-7
{
	z-index: 112;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u371-2
{
	font-size: 17px;
	line-height: 20px;
	padding-right: 5px;
	font-family: raleway, sans-serif;
	font-weight: 500;
}

#u373-4
{
	z-index: 53;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u379
{
	z-index: 160;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 95px;
}

#u380-7
{
	z-index: 119;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u378-4
{
	z-index: 57;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 150px;
}

#u410
{
	z-index: 164;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u411-7
{
	z-index: 147;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u409-4
{
	z-index: 73;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u386
{
	z-index: 161;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 95px;
}

#u387-7
{
	z-index: 126;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u385-4
{
	z-index: 61;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 150px;
}

#pppyash,#pppwendy
{
	width: 0.01px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu342,#pprick,#ppmasao,#pppayal,#ppcleo,#ppramya,#ppmorgan,#ppyash,#ppaashna,#ppwendy
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#ppu342,#ppprick,#prick,#pppmasao,#pmasao,#ppppayal,#ppayal,#pppcleo,#pcleo,#pppemily,#pemily,#pppramya,#pramya,#pppmorgan,#pmorgan,#pyash,#pppaashna,#paashna,#pwendy
{
	width: 0.01px;
	position: relative;
}

#rick,#masao,#payal,#cleo,#emily,#ramya,#morgan,#yash,#aashna,#wendy
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u393
{
	z-index: 162;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 95px;
}

#u394-7
{
	z-index: 133;
	width: 150px;
	min-height: 50px;
	text-align: right;
	color: #FFFFFF;
	position: relative;
}

#u341-2,#u346-2,#u352-2,#u358-2,#u364-2,#u398-2,#u380-2,#u411-2,#u387-2,#u394-2
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 5px;
	font-family: raleway, sans-serif;
	font-weight: 500;
}

#u341-5,#u346-5,#u352-5,#u358-5,#u364-5,#u398-5,#u371-5,#u380-5,#u411-5,#u387-5,#u394-5
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 5px;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u392-4
{
	z-index: 65;
	width: 300px;
	min-height: 100px;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 150px;
}

#u340-2,#u348-2,#u354-2,#u360-2,#u366-2,#u396-2,#u373-2,#u378-2,#u409-2,#u385-2,#u392-2
{
	padding-left: 5px;
	padding-top: 5px;
}

#page .verticalspacer
{
	clear: both;
}

