#u2261-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2262-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2263-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2264-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2311-2
{
	font-family: raleway-n8, sans-serif;
}

#u2311-4,#u2311-12,#u2311-14
{
	font-family: raleway-n3, sans-serif;
}

