#u2261-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2262-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2263-4
{
	font-family: montserrat-n4, sans-serif;
}

#u2264-4
{
	font-family: montserrat-n4, sans-serif;
}

#u394-2
{
	font-family: raleway-n8, sans-serif;
}

#u394-5,#u394-8,#u394-11
{
	font-family: raleway-n3, sans-serif;
}

