.html
{
	background: #7F7F7F url("../images/bg.jpg") no-repeat center center;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 150px;
	padding-bottom: 650px;
	margin-left: auto;
	margin-right: auto;
}

#u141
{
	z-index: 51;
	width: 150px;
	height: 85px;
	margin-right: -10000px;
	margin-top: 58px;
}

#menuu121
{
	z-index: 2;
	width: 850px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 150px;
}

#u148
{
	width: 104px;
	min-height: 100px;
	margin-right: -10000px;
}

#u149
{
	width: 104px;
	padding-bottom: 83px;
}

#u149:hover
{
	margin: 0px;
}

#u149:active
{
	margin: 0px;
}

#u149.MuseMenuActive
{
	margin: 0px;
}

#u151-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
}

#u149:hover #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 104px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 106px;
}

#u158-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
}

#u149.MuseMenuActive #u151-4,#u156:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 104px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 212px;
}

#u165-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
}

#u156.MuseMenuActive #u158-4,#u163:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 104px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 318px;
}

#u156,#u163,#u170
{
	width: 104px;
}

#u173-4
{
	width: 104px;
	min-height: 17px;
	margin-right: -10000px;
}

#u163.MuseMenuActive #u165-4,#u170:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u170:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u176
{
	width: 105px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 424px;
}

#u178-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
}

#u170.MuseMenuActive #u173-4,#u177:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u177:active #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u183
{
	width: 105px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 531px;
}

#u185-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
}

#u177.MuseMenuActive #u178-4,#u184:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u184:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u190
{
	width: 105px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 638px;
}

#u194-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
}

#u184.MuseMenuActive #u185-4,#u193:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u193:active #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u197
{
	width: 105px;
	min-height: 100px;
	margin-right: -10000px;
	top: 41px;
	left: 745px;
}

#u177,#u184,#u193,#u200
{
	width: 105px;
}

#u202-4
{
	width: 105px;
	min-height: 17px;
	margin-right: -10000px;
}

#u193.MuseMenuActive #u194-4,#u200:hover #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u200:active #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u200.MuseMenuActive #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

