@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/sativa.png") repeat center center;
}

#page
{
	z-index: 1;
	width: 330px;
	min-height: 409.7820506407881px;
	padding: 71px 25px 89.2179493592119px;
}

#u2376
{
	z-index: 2;
	width: 330px;
	min-height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

