/* fonts & backgrounds */
@font-face {
font-family: 'Bebas Neue';
src: url(BebasNeue.otf);
}
@font-face {
font-family: 'Helvetica Neue';
src: url(HelveticaNeue.dfont);
}
#home { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#edu {
	background: url(edu/img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-backgro  und-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#smhs {
	background: url(edu/img/smhsBg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-backgro  und-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* raw elements */
div, p, body, h1, h2, li {
	font-family: 'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;
}
h1 {
	font-size: 3em;
	font-family: 'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;
	font-weight: 600;
}
h2 {
	font-weight: 500;
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
	font-weight: 300;
}
h4 {
	font-weight: 200;
	font-size: 1.25em;
}
p {
	font-size: 1.4em;
	font-weight: 200;
}
a {
	text-decoration: underline;
	color: #333;
}
a:hover {
	color: #999;
}
li {
	font-weight: 300;
	font-size: 1.5em;
}

/*classes*/
.note {
	width: 90%;
	background-color: #333;
	color: #FFF;
	padding: 1.5%;
	padding-bottom: .5%;
	margin-left: 3%;
}
.note a {
	color: #CCC;
}
.note a:hover {
	color: #666;
}
.imgTd {
	width: 15%;
	padding: 3%;
}
.horizIconList li{
	display: inline-block;
	width: 30%;
}
.invisible {
	display: none;
}

/*identifications*/
#socialList a {
	color: white;
}
#socialList a:hover {
	color: #BBB;
}
#socialList img {
	width: 20%;
}
#introImg {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	z-index: 0;
	position: absolute;
}
#homeWrapper {
	/*visibility: hidden;*/
	background: white;
	position: absolute;
	width: 100%;
	height: 100%;
}
#projectTable img {
	width: 100%;
}
#projectList {
	text-align: center;
}
#projectList li {
	display: inline-block;
	width: 25%;
	padding: 2.5%;
}
#projectList img {
	width: 100%;
	opacity: 1;
	text-align: center;
}